* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

html, body {
  font: 16px/1.8 "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

body {
  background: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.6rem;
  color: #333333;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6;
  margin: 0 0 0.6rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

ul, p {
  color: #888888;
  font-size: 1rem;
  margin: 0 0 2rem;
}

p.lead {
  margin: 2rem 0;
}

ul {
  list-style-position: inside;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f6862c;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid #f6862c;
}

form {
  margin: 0 0 1.6rem;
}

input[type=text] {
  font: inherit;
  padding: 0.6rem 0.8rem 0.4rem;
  width: 100%;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 1rem;
  border: 1px solid #cccccc;
  color: #888888;
  text-align: center;
  display: block;
  margin: 0 auto 1.2rem;
}

input[type=checkbox] {
  display: inline-block;
  margin: 0 0.6rem 0 0;
  height: 1rem;
  vertical-align: middle;
}

label {
  margin: 0 1rem 0 0;
  color: #888888;
}

.divider {
  width: 5rem;
  margin: 2rem auto;
  border-top: 1px solid #cccccc;
}

#container {
  max-width: 39rem;
  margin: 5rem auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  width: 130px;
  opacity: 0.8;
  margin: 0 0 1.5rem;
}

.clear {
  clear: both;
}









div.entity {
  clear: both;
  margin: 0 0 1rem;
  padding: 0;
  position: relative;
}

div.entity div.html {
  float: left;
  font-size: 300%;
  width: 60px;
  text-align: center;
}

div.entity div.detail {
  float: right;
  width: 465px;
}

div.entity div.detail div.code,
div.entity div.detail div.entityCode,
div.entity div.detail div.entityName {
  float: left;
  width: 100px;
  font-size: 150%;
}

div.entity div.detail div.entityCode {
  width: 150px;
}

div.entity div.description {
  margin-top: 5px;
  color: #888888;
}

div.entity div.tools {
  font-size: 150%;
}

div.entity div.tools img {
  margin: 0 15px;
  cursor: pointer;
}
