* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

html, body {
  font: 16px/1.8 "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

body {
  background: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.6rem;
  color: #333333;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

ul, p {
  color: #888888;
  font-size: 1rem;
  margin: 0 0 2rem;
}

p.lead {
  margin: 2rem 0;
}

ul {
  list-style-position: inside;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f6862c;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid #f6862c;
}

form {
  margin: 0 0 1.6rem;
}

input[type=text] {
  font: inherit;
  padding: 0.6rem 0.8rem 0.4rem;
  width: 100%;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 1rem;
  border: 1px solid #cccccc;
  color: #888888;
  text-align: center;
  display: block;
  margin: 0 auto 1.2rem;
}

input[type=checkbox] {
  display: inline-block;
  margin: 0 0.6rem 0 0;
  height: 1rem;
  vertical-align: middle;
}

label {
  margin: 0 1rem 0 0;
  color: #888888;
}

label[for=extended] {
  margin: 0;
}

.divider {
  width: 5rem;
  margin: 2rem auto;
  border-top: 1px solid #cccccc;
}

#container {
  max-width: 39rem;
  margin: 6rem auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  width: 130px;
  opacity: 0.8;
  margin: 0 0 1.5rem;
}









div.entity {
  clear: both;
  margin: 0;
  padding: 10px 0 5px 0;
/*  border-bottom: 1px solid #ccc;*/
  position: relative; /* required for disabled block */
}

div.compress div.entity {
  padding: 3px 0;
}

div.entity div.html {
  float: left;
  margin-bottom: 20px;
  font-size: 300%;
  width: 60px;
  background: url(/images/greyed.gif);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

div.compress div.entity div.html {
  margin-bottom: 0;
  background: none;
  margin-top: 3px;
  font-size: 110%;
}

div.entity div.detail {
  float: right;
  width: 465px;
}

div.entity div.detail div.code,
div.entity div.detail div.entityCode,
div.entity div.detail div.entityName {
  float: left;
  width: 100px;
  font-size: 150%;
}

div.entity div.detail div.entityCode {
  width: 150px;
}

div.compress div.entity div.detail div {
  font-size: 100%;
}

div.entity div.description {
  margin-top: 5px;
}

div.compress div.entity div.description {
  display: none;
}

div.compress div.entity div.detail div.clear {
  clear: none!important;
}

div.entity div.tools img {
  margin: 0 15px;
  cursor: pointer;
}

.disabled {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  height: 100%;
  width: 100%;
  background: #000;
}

form.editable {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  height: 100%;
  padding: 3px;
}

form.editable label {
  color: #fff;
  display: inline;
  margin-left: 5px;
  margin-top: 7px;
}

form.editable input {
  font-size: 100%;
  padding: 3px;
  width: 250px;
}

div.submit {
  border: 1px solid #ccc;
  border-top: 0;
  background: #eee;
  padding: 0.5em 1em;
}

div.submit p {
  float: left;
  width: 460px;
}

div.submit input {
  border: 2px outset #999;
  float: right;
}

a.bookmarklet {
  color: #fff;
  background: #FF4D00;
  padding: 10px 20px;
  border: 1px solid #F53500;
  border-radius: 30px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 3px #000;
  font-size: 150%;
  display: inline-block;
}

a.bookmarklet:hover {
  -webkit-box-shadow: 0 0 10px #000;
  border: 1px solid #E51F00;
}

#lookupForm div.floatL {
  float: left;
  width: 320px;
}

#lookupForm fieldset.floatR {
  float: right;
  width: 150px;
}

#lookupForm label {
  float: none;
  display: inline;
}

#entitylookup fieldset {
  border: 1px solid #ccc;
}

#entitylookup h2 {
  padding-top: 20px;
  clear: left;
}
